// 1 = lighter
// a = trasparent
// BACKGROUND COLORS
$bg-white-1: #ffffff;
$bg-white-a1: #ffffff4D;
$bg-white-a2: #ffffff26;
$bg-white-2: #fbf9f9;
$bg-white-a3: #f8f8f4cc;
$bg-white-3: #f7f7f2;
$bg-white-4: #e4e4d4;
$bg-orange-1: #ffa500;
$bg-orange-2: #ffa323;
$bg-gold: #b7903c;
$bg-grey: #888888;
$bg-red-1: #ef2853;
$bg-red-2: #ee2852;
$bg-red-3: #d2401e;
$bg-red-4: #c83b1a;
$bg-black-1: #1c1c1c;
$bg-black-2: #1b1b1b;
$bg-black-a: #00000026;

// TEXT COLORS
$txt-white-1: #ffffff;
$txt-white-2: #d3cfaf;
$txt-grey-1: #cdcdcd;
$txt-grey-2: #b2b2b2;
$txt-grey-3: #a6a6a6;
$txt-grey-4: #868686;
$txt-grey-5: #858585;
$txt-grey-6: #767676;
$txt-gold-1: #b7903c;
$txt-gold-2: #b68a2c;
$txt-green: #339966;
$txt-red-1: #d2401e;
$txt-red-2: #ab4027;
$txt-black-a: #5a5a5a;
$txt-black-1: #303030;
$txt-black-2: #2d2d2d;
$txt-black-3: #1b1b1b;
$txt-black-4: #000000;

// FILL COLORS
$fill-white: #ffffff;
$fill-grey: #8f8f8f;
$fill-red-1: #ee2852;
$fill-red-2: #d2401e;
$fill-black-1: #303030;
$fill-black-2: #2d2d2d;
$fill-black-3: #000000;

// BORDER COLORS
$border-white-1: #f6f7f2;
$border-white-2: #efefe8;
$border-white-3: #e4e4d4;
$border-gold: #b7903c;
$border-red: #d2401e;
$border-black: #000000;












